.home-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  --background: var(--background-image);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  padding: 20px 10px;
  background: linear-gradient(0deg, #f7f7f7 20%, rgba(247, 247, 247, 0) 30%);
}

.home-content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 15px;
  border-radius: 32px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.home-content-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 100%;
  padding: 20px;
  gap: 10px;
}

.title-card {
  color: var(--desvare-secondary);
  font-size: 25px;
  font-style: normal;
  font-weight: var(--font-weight-extrabold);
  line-height: normal;
  width: 100%;
  text-align: left;
  margin: 0;
}

.description-card {
  color: var(--desvare-dark);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 24px; /* 150% */
  width: 100%;
  text-align: left;
  margin: 0;
}

.button-large {
  width: 100%;
}

.quotes-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.quote-item {
  width: auto;
  height: auto;
  position: absolute;
  background-color: white;
  border-radius: 50px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  padding: 10px 20px ;
  top: 0;
  left: 0;
}

.quote-item-title {
  color: var(--desvare-secondary);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  text-align: left;
  margin: 0;
}

.location-pointer {
  width: auto;
  height: auto;
  position: absolute;
  border-radius: 100%;
  top: 45%;
  left: 45%;
}

.quote-1 {
  top: 90%;
  left: 10%;
}

.quote-2 {
  top: 10%;
  left: 10%;
}

.quote-3 {
  top: 70%;
  left: 60%;
}