.legal-notice {
  font-size: 14px;
  line-height: auto
  color: var(--ion-color-dark);
  text-align: center;
  margin: 16px 0 0;
  width: 100%;
}

.legal-notice a {
  color: #0055ff;
  text-decoration: underline;
  font-weight: 600;
}
