.splash-content {
  --background: #0055ff;
}

.splash-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 20px;
}

.splash-logo {
  width: 200px;
  height: auto;
  display: block;
  animation: pulse 2s ease-in-out infinite;
}


.logo-img {
  width: 200px;
  height: 100%;
  display: block;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}