.shared-input-wrapper {
  margin-bottom: 16px;
}

.shared-input-item {
  --background: width;
  --border-radius: 12px;
  --padding-start: 10px;
  --padding-end: 10px;
  --inner-padding-end: 10px;
  --min-height: 56px;
  border-radius: 12px;
  border: 1px solid var(--desvare-medium);
  transition: all 0.2s ease;
}

.shared-input-item:hover:not(.input-error) {
  border-color: var(--ion-color-primary);
}

.shared-input-item.input-error {
  border-color: var(--ion-color-danger);
}

.shared-input {
  --padding-top: 10px;
  --padding-bottom: 10px;
}

.input-message {
  display: block;
  margin-top: 6px;
  margin-left: 12px;
  font-size: 12px;
}

.required-asterisk {
  color: var(--ion-color-danger);
}

/* Focus state */
.shared-input-item.ion-focused:not(.input-error) {
  border-color: var(--ion-color-primary);
  box-shadow: 0 0 0 3px rgba(var(--ion-color-primary-rgb), 0.1);
}

/* En Input.css */
.input-icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 12px;
  height: -webkit-fill-available;
  color: var(--ion-color-medium);
}

.shared-input-item.ion-focused .input-icon-wrapper {
  color: var(--ion-color-primary);
}

.input-error .input-icon-wrapper {
  color: var(--ion-color-danger);
}